@import '../lib/index'
@import 'animate'

reset()
box-reset()

/* Colores */

verde_claro = #ccdca9
verde = #8bac44
verde_oscuro = #33412d
gris = #f1f2f2



/* Useful classes */

.center-text
	text-align center

.right-text
	text-align right

.left-text
	text-align left 
	
.title
	font-family: 'Roboto Condensed', sans-serif;
	margin 1rem 0
	@media screen and (min-width: 700px)
		margin 0
	
.text
	font-family: 'Source Sans Pro', sans-serif;
	font-weight 300
	
.grid
	display flex
	flex-wrap wrap

.v-center
	align-content center
	align-items center

.fixed
	position fixed !important
	top 0
	height 50px !important
	box-shadow 0px 1px 3px rgba(black, .25)
	.main-logo
		a
			padding 5px 0
			display block
			height 100%
			img
				height 100%

/* Main code */

a[href*=".html"]
	text-decoration none
	color #333
	font-family: 'Roboto Condensed', sans-serif;

h1[class*="text"]
	max-width 550px
	margin 2em auto
	padding 0 1em
	line-height 25px	
	
.container
	width 100%
	max-width 960px
	margin 0 auto
	


.top-bar
	background verde_claro
	size(100%, 10px)
	padding 0 1em
	a
		size(37px)
		display inline-block
		line-height 37px
		svg
			size(50%)
			vertical-align middle
			fill verde

header
	size(100%, 80px)
	padding 0 10px
	z-index 800
	position relative
	background white
	transition height 200ms ease-in-out
	.container
		align-items center
		@media screen and (min-width:768px)
			justify-content space-between
	.main-logo
		height 30px
		@media screen and (min-width:1024px)
			height 40px
		img
			height 100%
	nav
		display none
		ul
			li
				position relative
				cursor pointer
				line-height 80px
				a
					text-decoration none
					color #333
					display block
					font-family: 'Roboto Condensed', sans-serif;
				ul
					position absolute
					display none
					flex-wrap wrap
					width 100%
					left 0
					top 60px
					background white
					box-shadow 0px 1px 2px rgba(black, .25)
					li
						width 100%
						line-height 40px
						padding 0
						text-align center
						a
							display block
							&:hover
								background verde_claro
				&:hover
					ul
						display block
							
		@media screen and (min-width:768px)
			display flex
			ul
				display flex
				li
					padding 0 10px
		@media screen and (min-width:1024px)
			ul
				li
					padding 0 20px

.banner
	size(100%, auto)
	img
		width 100%

.main-article
	section
		padding 2em 1em
		background gris
		.grid
			justify-content center
			@media screen and (min-width:768px)
				justify-content space-around
		&:nth-child(1)
			border-bottom 1px solid rgba(black, .10)
		.section-image
			circle(225px)
			overflow hidden
			img
				width 100%
		.section-text
			text-align center
			max-width 400px
			p
				line-height 20px
			@media screen and (min-width:700px)
				display flex
				flex-wrap wrap
				justify-content flex-end
				align-content  center
				text-align right
				h2
					font-size em(30px)
				p
					margin-top 1rem
			@media screen and (min-width:768px)
				p
					font-size em(18px)
					
#carbonato
	@media screen and (min-width:700px)
		.section-image
			order 2
		.section-text
			text-align left
			justify-content flex-start
	
footer
	//background gris
	padding 2em 1em
	border-top 1px solid rgba(black, .10)
	.container
		justify-content center
		@media screen and (min-width:768px)
			justify-content space-between
		.footer-content
			text-align center
			max-width 300px
			img
				height 30px
			p
				font-size em(14px)
				line-height 20px
				color #666
			a
				circle(30px)
				background verde
				line-height 30px
				margin-top 10px
				display inline-block
				@media screen and (min-width:768px)
					circle(25px)
					line-height 25px
				svg
					size(16px)
					fill white
					vertical-align  middle
			@media screen and (min-width:768px)
				order 2
				width 50%
				text-align right
				display flex
				flex-wrap wrap
				justify-content flex-end
				align-content center
				img
					margin-bottom 10px
				p
					max-width 300px
		nav
			order 2
			display none
			ul
				li
					line-height 30px
			@media screen and (min-width:768px)
				order 1
				display block
				
/* Empresa */

.btn
	background verde_claro
	border 0
	color verde_oscuro
	font-family 'Roboto Condensed'
	line-height 38px
	width 162px
	border-bottom 2px solid verde

.pages-banner
	size(100%, 335px)
	overflow hidden
	img
		height 100%
	


.page-title
	background gris
	size(100%, auto)
	padding 1em 0
	.title
		font-size em(40px)
		color verde_oscuro
	img
		width 200px
		@media screen and (min-width: 768px)
			height 70px
			width auto


.empresa-article
	padding 20px
	@media screen and (min-width: 768px)
		padding 20px 0
	.text
		line-height 30px
		text-align justify
		@media screen and (min-width: 768px)
			font-size 1rem
	section
		.section-inside
			text-align center
			padding 20px 0
			.brief
				h3
					font-size em(20px)
					margin-bottom 1rem
					color verde_oscuro
			@media screen and (min-width: 768px)
				display flex
				.image
					width 325px
					display flex
					align-items center
				.brief
					width calc(100% - 325px)
					padding-left 30px
					text-align left
		/* Zeolita styles */
		.datos-tecnicos
			border 1px solid rgba(black, .10)
			display flex
			justify-content center
			flex-wrap wrap
			padding 17px
			max-width 265px
			.datos-image
				width 100%
				overflow hidden
				margin-bottom 25px
				img
					circle(180px)
		.zeolita-text
			padding 0
			@media screen and (min-width: 768px)
				width calc(100% - 265px)
				padding-left 30px
			.title
				color verde_oscuro
				margin 20px 0

.zeolita-section
	display flex
	flex-wrap wrap
	justify-content center
	@media screen and (min-width: 768px)
		flex-wrap nowrap

.reseña
	padding 30px 0 0 0 
	h2
		color verde_oscuro
		margin-bottom 23px
	ul
		li
			list-style-image url('../img/list-square.svg')
			list-style-position inside
			margin-bottom 10px
			&:last-child
				margin 0

.mision-wrapper
	padding 20px 0
	display flex
	justify-content center
	flex-wrap wrap
	@media screen and (min-width: 700px)
		flex-wrap nowrap
	
	section
		border 1px solid rgba(black, .10)
		padding 30px 20px
		max-width 365px
		&:nth-child(1)
			margin-bottom 20px
			@media screen and (min-width: 700px)
				margin-bottom 0
				margin-right 30px
		.title
			margin 0 0 30px 0
			color verde_oscuro
			text-align center
			@media screen and (min-width: 768px)
				font-size em(30px)

.product-section
	display flex
	flex-wrap wrap
	justify-content center
	.btn
		margin-bottom 1rem

.productos
	width 100%

.product-title		
	width 100%
	text-align center
	font-size em(26px)
	margin-bottom 20px

.presentacion
.granulometria
.usos
	border-top 1px solid rgba(verde_oscuro, .10)
	padding 20px 0
	margin 20px 0
	
.granulometria
	.container
		display flex
		flex-wrap wrap
		justify-content center

	.gr-item
		border 1px solid verde_claro
		padding 20px
		width 90%
		max-width 265px
		&:nth-child(2)
			margin-bottom 20px
			@media screen and (min-width: 583px)
				margin 0 20px 0 0
				
	.gr-text
		span
			width 100%
			display block
			text-align center
		
	.gr-image
		circle(180px)
		overflow hidden
		margin 20px auto 0

.presentacion
	.text
		 max-width 600px
		 margin 0 auto 10px
		 text-align center 
	img
		width 100%
		max-width 650px

.usos
	margin-bottom 0
	@media screen and (min-width: 768px)
		padding-bottom 0
	.container
		display flex
		flex-wrap wrap
		.usos-item
			text-align center
			margin-bottom 20px
			&:nth-child(5)
				margin-bottom 0
			@media screen and (min-width: 768px)
				width 50%
				padding 20px 
				margin 0
			h3
				font-size em(20px)

.producto-uso
	width 90%
	margin 2em auto 
	max-width 800px
	border 1px solid rgba(black, .10)
	padding 20px
	text-align center
	display flex
	flex-wrap wrap
	h2
		color verde
		font-size em(33px)
		width 100%
		@media screen and (min-width: 768px)
			text-align left
			margin-bottom 20px
	figure
		max-width 180px
		img
			size(180px)
	.uso-text
		@media screen and (min-width: 768px)
			width calc(100% - 180px)
			padding-left 20px
			a
				float right
	a
		text-decoration none
		display block
		margin 20px auto 0
		
		
/* Contact form */

.overlay
	background rgba(black, .40)
	size(100%)
	z-index 998
	position fixed
	top 0
	left 0

.form-popup
	position fixed
	size(100%)
	top 0
	left 0
	display none
	z-index 999
	animation-duration: 750ms;
	.form-wrapper
		display flex
		justify-content center
		align-items center
		size(100%)
		position absolute
	.form
		background white
		padding 1rem
		overflow-y auto
		position relative
		z-index 999
		size(90%)
		max-width 450px
		box-shadow 0px 1px 5px rgba(black, .25)
		.close
			size(25px)
			line-height 25px
			position absolute
			top 10px
			right 10px
			display block
			cursor pointer
			text-align center
			border 1px dashed verde_claro
			transition all 250ms
			&:hover
				background verde_claro
				svg
					fill white
			svg
				size(20px)
				margin-top -5px
				fill verde
				vertical-align middle
		@media screen and (min-width: 480px)
			height auto
			padding 20px
		hr
			background rgba(black, .10)
			border 0
			size(100%, 1px)
			margin 1em 0
		span
			font-size em(20px)
			display block
			@media screen and (min-width: 768px)
				margin-bottom 20px
		nav
			text-align left
			ul
				li
					line-height 30px
					position relative
					font-size em(14px)
					padding-left 35px
					&:after
						content ""
						display block
						position absolute
						size(30px)
						background url('../img/css-sprites.svg') no-repeat
						left 0
						top 0
					&:nth-child(2)
						&:after
							background-position 0 -30px
					&:nth-child(3)
						&:after
							background-position 0 -60px
					&:nth-child(4)
						&:after
							background-position 0 -90px
		form
			input
			textarea
			button
				-webkit-appearance: none;
			input
			textarea
				width 100%
				border-radius 0
				margin-bottom 10px
				border 1px solid rgba(black, .10)
				font-family 'Source Sans Pro'
				font-weight 300
				padding-left 5px
			input
			button
				line-height 30px
			textarea
				resize none
			button
				background verde
				color white
				border 0
				width 100px
				
.carousel 
	margin 1rem 0		
#carousel
	width 100%
	overflow hidden
	padding 0 2em
	margin 1rem 0
	@media screen and (min-width: 768px)
		padding 0
	.item
		height auto
		display flex
		overflow hidden
		flex-wrap wrap
		margin 0 10px 0 0
		justify-content center
		border 1px solid rgba(black, .10)
		border-bottom 5px solid rgba(black, .25)
		.carousel-image
			width 100%
			img
				width 100%
		.carousel-text
			width 100%
			height 75px
			.title
				margin 0
				width 100%
				line-height 43px
			a
				color rgba(black, .50)
				text-decoration none